html {
	font-size: 100%; 
}
body{ /*corps de la page */
	background-image: url("background.jpg"); 
  	
	background-size: 100%;

	background-attachment:fixed; 
	
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif; 
	
}
h1{ /*Le titre*/

	text-align: center; 

	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif; 

	font-weight: normal; 

	font-size: 4em; 

	color: rgba(10, 130, 255, 0.6); 
	
	font-style: italic;

}

p{

	font-size: 2em; 
	
	text-align: left; 
	
	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif; 
	
	margin-left: 50px;
	
	color: rgba(255, 20, 20, 1); 

}
